 
.flexboxAboutus{
  padding: 30px;
  background-color: 	#fffff0;
  margin: 10px;
  box-sizing: border-box;
  border: 10px solid #85865f;
}

p{
  color: black;
}
/*planting trees could be our picture here*/
  
.flexboxImage img{
  height: 500px;
  width: 500px;
  padding: 75px;
 
}

.alyssa {
  padding: 20px .5px;
  background-color: #fffff0;
  margin: 50px 15px;
  box-sizing: border-box;
  border: 5px solid #85865f;
  justify-content: flex-end;

}

.sneha{
  padding: 20px .5px;
  background-color: #fffff0;
  margin: 50px 15px;
  box-sizing: border-box;
  border: 5px solid #85865f;
  justify-content: flex-end;
}

.meetFounders{
  flex-direction:row-reverse;
}