.flexboxAboutus{
  padding: 30px;
  background-color: 	#fffff0;
  margin: 10px;
  box-sizing: border-box;
  border: 10px solid #85865f;
}

p{
  color: black;
}
/*planting trees could be our picture here*/