 
.flexboxAboutus{
  padding: 30px;
  background-color: #85865f;
  margin: 40px;
  box-sizing: border-box;
  border: 10px solid #4f583d;
  outline:10px solid white;
}

p{
  color: white;
}

.page-header-aboutus{
  background-color:#85865f;
padding:20px;
  border-bottom:10px solid #fffff0;
}



.flexboxImage img{
  height: 400px;
  width: 400px;
  padding: 55px;
  display: flex;
  flex-direction: row;
 
}

.alyssa {
  box-sizing: border-box;
  border: 10px solid #85865f;
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-around;
  border: 10px solid #4f583d;
  outline:10px solid white;
  background-color:#85865f;
  margin:70px;

}

.sneha{
  box-sizing: border-box;
  border: 10px solid #85865f;
  
}

.meetFounders{
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-around;
  border: 10px solid #4f583d;
  outline:10px solid white;
  background-color:#85865f;
  margin:70px;
}

.auImages {
  list-style-type: none; 
  display: flex;
  justify-content: space-around;
  
} 

.aboutimg{
  border:15px solid #4f583d;
  border-radius:50%;
}

