body{
background-color: #8fa6ac;
}


.buttons{
  display:flex;
  justify-content:space-around;
  background-color:#85865f;
  padding:50px;
  }

#CO2E{
  width:200px;
  height:200px;
}

#CO2E:hover{
  opacity:50%;
}

#Ocean{
  width:200px;
  height:200px;
}

#Ocean:hover{
  opacity:50%;
}










































.dropbtn{
  font: black;
  font-size: 20px;
  background-color: none;
} 




/* stuff inside each dropdown */
.dropdowns {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
} 

/* The dropdown container */
.dropdowns {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdowns .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
} 



/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdowns {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


/* Show the dropdown menu on hover */
.dropdowns a:hover .dropdown-content {
  
  .display:block;

}
  

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

