body{
background-color: #8fa6ac;
}


.buttons{
  display:flex;
  justify-content:space-around;
  background-color:#85865f;
  padding:50px;
  border:10px solid white;
  }

.buttontext{
  text-shadow:2px 2px black;
  margin-bottom:0px;
}



#CO2E,
#Ocean,
#Electronic,
#Forest{
  width:200px;
  height:200px;
  padding:5px;
  border:10px solid white;
}

#CO2E:hover,
#Ocean:hover,
#Electronics:hover,
#Forest:hover,{
  opacity:50%;
}


.link{
  color: #4f583d;
  text-shadow:1px 1px black;
}

#p1,
#p2,
#p3,
#p4,
#p5,
#p6{
background-color:#85865f;
  margin-left:50px;
  margin-right:50px;
  margin-top:70px;
  margin-bottom:70px;
  border:13px solid #fffff0;
}

.learnimage{
  border-radius:50%;
  border:12px solid #4f583d;
 box-shadow:5px 5px 5px black;
}