body{
background-color: #8fa6ac;
}


.buttons{
  display:flex;
  justify-content:space-around;
  background-color:#85865f;
  padding:50px;
  border:10px solid white;
  }

.buttontext{
  text-shadow:2px 2px black;
  margin-bottom:0px;
}

#CO2E{
  width:200px;
  height:200px;
  padding:5px;
  border:10px solid white;
}

#CO2E:hover{
  opacity:50%;
}

#Ocean{
  width:200px;
  height:200px;
  padding:5px;
  border:10px solid white;
}

#Ocean:hover{
  opacity:50%;
}

#Electronic{
  width:200px;
  height:200px;
  padding:5px;
}

#Electronic:hover{
  opacity:50%;
}

#Forest{
  width:200px;
  height:200px;
  padding:5px;
}

#Forest:hover{
  opacity:50%;
}

.link{
  color: #4f583d;
  text-decoration:underline;
}

#p1{
background-color:#85865f;
  margin-left:50px;
  margin-right:50px;
  margin-top:70px;
  margin-bottom:70px;
  border:10px solid #fffff0;
}

#p2{
background-color:#85865f;
  margin-left:50px;
  margin-right:50px;
  margin-top:70px;
  margin-bottom:70px;
  border:10px solid #fffff0;
}

#p3{
background-color:#85865f;
  margin-left:50px;
  margin-right:50px;
  margin-top:70px;
  margin-bottom:70px;
  border:10px solid #fffff0;
}

#p4{
background-color:#85865f;
  margin-left:50px;
  margin-right:50px;
  margin-top:70px;
  margin-bottom:70px;
  border:10px solid #fffff0;
}

#p5{
background-color:#85865f;
  margin-left:50px;
  margin-right:50px;
  margin-top:70px;
  margin-bottom:70px;
  border:10px solid #fffff0;
}

#p6{
background-color:#85865f;
  margin-left:50px;
  margin-right:50px;
  margin-top:70px;
  margin-bottom:70px;
  border:10px solid #fffff0;
}
